<vex-secondary-toolbar current="Drivers">
    <vex-breadcrumbs [crumbs]="['Drivers', 'Edit Driver Details']" class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
</vex-secondary-toolbar>

<div @stagger class="p-6 container">

    <h2 class="title mt-6 mb-4 flex items-center">
        <span @scaleIn
            class="w-10 h-10 rounded-full text-primary-600 mr-3 flex items-center justify-center bg-primary-600/10">
            <mat-icon class="icon-sm" svgIcon="mat:vertical_split"></mat-icon>
        </span>
        <span @fadeInRight class="block">Edit Driver Details</span>
    </h2>

    <div @fadeInUp class="card overflow-hidden">
        <mat-vertical-stepper #verticalStepper="matVerticalStepper" [linear]="true">
            <ng-template matStepperIcon="edit">
                <mat-icon svgIcon="mat:done_all"></mat-icon>
            </ng-template>

            <ng-template matStepperIcon="done">
                <mat-icon svgIcon="mat:done_all"></mat-icon>
            </ng-template>

            <mat-step [stepControl]="personalInformationFormGroup">
                <form [formGroup]="personalInformationFormGroup">
                    <ng-template matStepLabel>Personal Information</ng-template>

                    <!-- <div class="title m-0">Create Account</div>
            <div class="subheading-1">
              Set up your account for testing purposes.
            </div> -->

                    <div class="mt-4 flex flex-col gap-2">
                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                            <mat-form-field class="flex-auto">
                                <mat-label>First Name</mat-label>
                                <input formControlName="firstName" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Middle Name</mat-label>
                                <input formControlName="middleName" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="lastName" matInput required />
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                            <mat-form-field class="flex-auto">
                                <mat-label>Alias Name</mat-label>
                                <input formControlName="aliasName" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput formControlName="dateOfBirth" placeholder="DD/MM/YYYY" [matDatepicker]="dateOfBirth">
                                <mat-datepicker-toggle matIconSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                                <mat-datepicker #dateOfBirth disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>E-Mail</mat-label>
                                <input formControlName="email" matInput required />
                            </mat-form-field>
                        </div>


                        <div class="flex flex-col md:flex-row gap-2 md:gap-6">

                            <div class="flex-auto flex gap-2">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Code</mat-label>
                                    <mat-select formControlName="primaryMobilePrefix">
                                        <mat-option *ngFor="let option of phonePrefixOptions" [value]="option">{{ option
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="flex-auto">
                                    <mat-label>Primary Mobile Number</mat-label>
                                    <input formControlName="primaryMobile" matInput />
                                    <mat-hint align="end"></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="flex-auto flex gap-2">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Code</mat-label>
                                    <mat-select formControlName="alternativeMobilePrefix">
                                        <mat-option *ngFor="let option of phonePrefixOptions" [value]="option">{{ option
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="flex-auto">
                                    <mat-label>Alternate Mobile Number</mat-label>
                                    <input formControlName="alternativeMobile" matInput />
                                    <mat-hint align="end"></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                            <mat-form-field class="flex-auto">
                                <mat-label>Aadhaar Number</mat-label>
                                <input formControlName="aadhaarNumber" matInput required>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Spoken Languages</mat-label>
                                <input formControlName="spokenLanguages" matInput required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="actions flex items-center justify-end gap-2">
                        <button (click)="verticalStepper.reset()" [disabled]="personalInformationFormGroup.pristine"
                            color="primary" mat-button type="button">
                            RESET
                        </button>
                        <button [disabled]="personalInformationFormGroup.invalid" color="primary" mat-raised-button
                            matStepperNext>
                            NEXT
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="professionalDetailsFormGroup">
                <form [formGroup]="professionalDetailsFormGroup">
                    <ng-template matStepLabel>Professional Details</ng-template>

                    <!-- <div class="title m-0">Select a Password</div>
                    <div class="subheading-1">
                        Enter your password you will use to log in.
                    </div> -->

                    <div class="mt-4 flex flex-col gap-2">
                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                            <mat-form-field class="flex-auto">
                                <mat-label>Driver Category</mat-label>
                                <input formControlName="driverCategory" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>License Types</mat-label>
                                <input formControlName="licenseTypes" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>License Number</mat-label>
                                <input formControlName="licenseNumber" matInput required />
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                            <mat-form-field class="flex-auto">
                                <mat-label>License Expiry Date</mat-label>
                                <input matInput formControlName="licenseExpiryDate" placeholder="DD/MM/YYYY" [matDatepicker]="licenseExpiryDate">
                                <mat-datepicker-toggle matIconSuffix [for]="licenseExpiryDate"></mat-datepicker-toggle>
                                <mat-datepicker #licenseExpiryDate disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Total Experience In Months Types</mat-label>
                                <input formControlName="totalExperienceInMonths" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>International Experience</mat-label>
                                <input formControlName="internationalExperience" matInput required />
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                            <mat-form-field class="flex-auto">
                                <mat-label>Vehicle Type</mat-label>
                                <input formControlName="vehicleType" matInput required />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="actions flex items-center justify-end gap-2">
                        <button color="primary" mat-button matStepperPrevious type="button">
                            Previous
                        </button>
                        <button [disabled]="professionalDetailsFormGroup.invalid" color="primary" mat-raised-button
                            matStepperNext>
                            NEXT
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="locationDetailsFormGroup">
                <form [formGroup]="locationDetailsFormGroup">
                    <ng-template matStepLabel>Location And Availability Details</ng-template>

                    <div class="mt-4 flex flex-col gap-2">
                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                            <mat-form-field class="flex-auto">
                                <mat-label>correspondence Address</mat-label>
                                <input formControlName="correspondenceAddress" matInput required />
                            </mat-form-field>
                            </div>
                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                        <mat-form-field class="flex-auto">
                                <mat-label>Pincode</mat-label>
                                <input formControlName="pincode" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>State</mat-label>
                                <input formControlName="state" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Available For Work ?</mat-label>
                                <mat-select formControlName="availableForWork">
                                    <mat-option *ngFor="let option of availableForWorkOptions" [value]="option">{{ option }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                            <mat-form-field class="flex-auto">
                                <mat-label>Additional Skills</mat-label>
                                <input formControlName="additionalSkills" matInput required />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Professional References</mat-label>
                                <input formControlName="professionalReferences" matInput required />
                            </mat-form-field>
                        </div>
                        </div>

                    <div class="actions flex items-center justify-end gap-2">
                        <button color="primary" mat-button matStepperPrevious type="button">
                            Previous
                        </button>
                        <button [disabled]="locationDetailsFormGroup.invalid" color="primary" mat-raised-button
                            matStepperNext>
                            NEXT
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="verticalConfirmFormGroup">
                <form [formGroup]="verticalConfirmFormGroup">
                    <ng-template matStepLabel>Confirm Creation</ng-template>

                    <div class="title m-0">You're almost there!</div>
                    <div class="subheading-1">
                        To finish registration, accept our terms of service and click on
                        "Submit".
                    </div>

                    <div class="mt-4 flex flex-col gap-2">
                        <mat-checkbox class="checkbox" formControlName="terms">
                            I agree to the terms of service and the usual stuff. *
                        </mat-checkbox>
                    </div>

                    <div class="actions flex items-center justify-end gap-2">
                        <button color="primary" mat-button matStepperPrevious type="button">
                            Previous
                        </button>
                        <button (click)="submit()" [disabled]="verticalConfirmFormGroup.invalid" color="primary"
                            mat-raised-button matStepperNext>
                            SUBMIT
                        </button>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>